@import "tailwindcss";
/* 
:root {

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem
}

.bg-main {
  background-color: rgb(138, 46, 46);
  color: white;
}

.bd-hover:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bd {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bd-2 {
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.bd-3 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gradient {
  
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%)
}

.glow {
  box-shadow: 0 0 19px 4px rgb(198,210,255);
}